- if signed_in?
  .row
    %aside.span4
      %section
        %h1= current_user.name
      %section
        %h1 Percent correct
        %h1= number_to_percentage(current_user.answer_percent, :precision => 0)
    .span8
      %h3 Dashboard
      %br
      = link_to "Answer a Question!", new_attempt_path, |
      class: "btn btn-large btn-primary"   |
      %br
      %br
      %section
        %p Last Five Questions
        %ul
        - current_user.attempts.last(5).reverse.each do |a|
          %li= a.vocab_word.name
      
- else
  .center.hero-unit
    %h1 Welcome to Vocabulator
    %h2
      Master the 500 most common SAT words on the Cloud!
    = link_to "Sign up now!", signup_path, |
      class: "btn btn-large btn-primary"   |
    = link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
